body {
  background-color: #d0e4f5;
  color:darkblue;
  font-family:  Comic Sans MS;
  margin:15px;
  }
  
  h1 {
  color:red;
  text-align: center;
  font-size: 30px;
  }
  
  table {
  border: 2px dashed black;
  background-color: white;
  margin-bottom: 25px;
  width:90%;
  }
  
  td, th {
  padding:5px;
  border: 1px solid gray;
  text-align: left;
  }
  
  ol, ul {
  background-color:#fffab0;
  padding: 10px;
  border: 1px dotted #999;
  }
  
